body {
    background: rgb(36,30,0);
    background: linear-gradient(90deg, rgba(36,30,0,1) 0%, rgba(121,88,9,1) 35%, rgba(236,255,0,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}